/* grid */

#grid-layout {
    width: 550px;
    display: grid;
    grid-auto-rows: 90px;
    grid-template-areas: 
     'a a a b b'
     'a a a b b'
     'c c d d d'
     'c c e e e'
    ;
    gap: 10px;
}

.item-a {
    grid-area: a;
    background-color: var(--bright-orange);
    grid-row: 1 / span 2;
}

.item-b {
    grid-area: b;
    background-color: var(--dark-cyan);
    grid-row: 1 / span 2;
}

.item-c {
    grid-area: c;
    background-color: var(--very-dark-cyan);
}

.item-d {
    grid-area: d;
    background-color: var(--green);
}

.item-e {
    grid-area: e;
    background-color: var(--green);
}

/* responsiveness */

@media(max-width: 570px) {
    #grid-layout {
        width: 90%;
        display: grid;
        grid-template-areas: 
         'a'
         'b'
         'c'
         'd'
         'e'
        ;
    }

    /* .item-a {
        grid-row: 1/2;
    }
    .item-b {
        grid-row: 2/3;
    } */

    .item-a,
    .item-b {
        grid-row: unset;
    }
}